.navbar{
	background-color: #669900;
	max-width: 100%;
	padding: 2px;
	padding-right: 5px;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar ul li a{
	color: white;
	font-size: 14px;
	margin-top: 3px;
	margin-left: 5px;
}
.navbar ul li a:hover{
	color: yellow;
	background: none;
	transition: 0.2s;
}
.navbar-header a{
	color: white;
	font-size: 19px;
	font-weight: bold;
	/*margin-left: 10px;*/
	font-family: Arial Rounded MT Bold;
}
.navbar-header i{
	color: white;
	font-size: 21px;
	margin-right: 5px;
}
.rightbtns i{
	color: white;
	font-size: 19px;
	margin-top: 17px;
	margin-right: 18px;
	/*cursor: pointer;*/
}
.rightbtns i:hover{
	color: yellow;
	background: none;
	transition: 0.2s;
	cursor: pointer;
}
.firstdiv{
	background-image: url(../images/banner3.webp);
	height: 300px;
	/*background-attachment: fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size: cover*/
	/*max-width: 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-position: top;*/
	background-size: 100% 105%;
}
.firstdiv span{
	padding: 20px;
	border-radius: 25px;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 21px;
	font-family: Calibri ;
	padding-left: 35px;
	padding-right: 35px;
	margin: 10px;
	background-color: #669900;
	color: white;
	opacity: .8;
	/*position: absolute;*/
	/*margin-left: 200px;*/
	margin-left: auto;
	cursor: pointer;
}
.firstdiv p {
	/*position: absolute;*/
	color: black;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 3px;
	/*margin-top: 9px;*/
}
.firstdiv a{
	color: black;
	margin: 5px;
	transition: .2s;
}
.firstdiv a:hover{
	color: #696900;
	text-decoration: none;
}
.seconddiv{
	padding: 25px;
}
.seconddiv .col-md-5{
	text-align: center;
	padding-top: 25px;
}
.seconddiv img{
	width: 100%;
	height: 305px;
	/*height: 100%;*/
	/*margin-top: 15px;*/
}
.seconddiv .col-md-7{
	padding-top: 20px;
}
.seconddiv .col-md-7 p{
	font-size: 24px;
	font-family: Calibri;
	color: #669900;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
.seconddiv .col-md-7 h2{
	font-size: 30px;
	font-family: Calibri;
	margin-top: 10px;
	letter-spacing: 1px;
}
.seconddiv .col-md-7 span{
	font-size: 16px;
	font-family: Times New Roman;
	text-align: justify;
}
.thirddiv p{
	font-size: 23px;
	font-weight: bold;
	font-family: Calibri;
	letter-spacing: 2px;
	color: black;
	margin-top: 25px;
}
.thirddiv .line{
	width: 100%;
	height: 1px;
	background-color: #669900;
	margin-bottom: 15px;
}
.thirddiv p span{
	color: #669900;
}
.thirddiv{
	padding-bottom: 25px;
}
.box{
	padding: 15px;
}
.box img{
	width: 100%;
}
.box2{
	background-color: #E5ECEC;
	padding: 15px;
	height: 310px;
}
.box2 span{
	color: black;
	font-size: 18px;
	font-family: Calibri;
}
.box2 img{
	width: 100%;
	padding: 15px;
	height: 200px;
}
.orderdiv{
	padding: 25px;
	padding-bottom: 35px;
}
.orderdiv p{
	font-size: 23px;
	font-weight: bold;
	font-family: Calibri;
	letter-spacing: 2px;
	color: black;
	margin-top: 25px;
}
.orderdiv .line{
	width: 100%;
	height: 1px;
	background-color: #669900;
	margin-bottom: 15px;
}
.orderdiv p span{
	color: #669900;
}
.footer{
	padding: 35px;
	background: #E5ECEC;
	margin-top: 50px;
	font-size: 16px;
	font-family: 'OpenSans-Regular';
	color: black;
}
.footer span{
	cursor: pointer;
}
.footer span:hover{
	color: #669900;
}
.footer i{
	color: #669900;
	font-weight: bold;
	font-size: 15px;
	margin-right: 10px;
}
.footer p{
	letter-spacing: 1px; 
	font-size: 18px; 
	font-family: Calibri;
	margin-bottom: 25px;
	font-weight: bold;
}
.footer ul{ 
	padding-left: 0; 
	font-size: 13px;
}
.footer ul li{
	list-style: none;
}
.footer ul li a{
	color:black;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	text-decoration: none;
}
.footer ul li a:hover{
	color: #669900;
}
.footer .copy{
	margin-top: 25px;
	background: #333333;
	text-align: center;
	padding: 15px;
	font-size: 13px;
}
.lastdiv a{
	color: black;
	font-size: 30px;
	font-weight: bold;
	/*margin-left: 10px;*/
	font-family: Arial Rounded MT Bold;
	letter-spacing: 1px;
}
.lastdiv a i{
	color: #669900;
	font-size: 45px;
}
.footer2{
	background-color: #669900;
	color: white;
	text-align: center;
	font-size: 16px;
	font-family: Calibri;
	letter-spacing: 2px;
	padding: 10px;
	padding-top: 17px;
	text-transform: uppercase;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.5s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
